@model Budgeter.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@section icon
{
    <i class="fa fa-user"></i>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (TempData["PWSuccess"] != null)
            { <p class="text-success pull-right">@TempData["PWSuccess"]</p> }
            @if (TempData["PWError"] != null)
            { <p class="text-danger pull-right">@TempData["PWError"]</p> }
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>