@model Budgeter.Models.HouseholdCreateJoinMV
@using Microsoft.AspNet.Identity;

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Balance</th>
            <th>Reconciled</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.household.Accounts.Count > 0)
            {
                foreach (var account in Model.household.Accounts)
                {
                <tr>
                    <td>@account.Name</td>
                    <td>@account.Balance</td>
                    <td>
                        @{
                            var rDate = account.ReconcileDate.LastOrDefault();
                            if (rDate != null)
                            {
                                @rDate.date.ToString("d")
                            }

                        }
                    </td>
                    <td><a href="@Url.Action("Transactions", "Household", new { account.id })" class="transaction"><i class="fa fa-credit-card"></i></a> <a href="@Url.Action("DeleteAccount", "Household", new { account.id })" class="delete"><i class="fa fa-trash"></i></a> </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        There are no accounts available.
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
    </tbody>
</table>