@model Budgeter.Models.Account

Account Balance: @Model.Balance
<table id="t-table" class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Member</th>
            <th>Description</th>
            <th>Posted Date</th>
            <th>Transaction Date</th>
            <th>Category</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Reconciled</th>
            <th>Status</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Transactions.Count > 0)
        {
            foreach (var entry in Model.Transactions.Reverse())
            {
                if (entry.Void == true)
                {
                    ViewBag.Void = "void";
                }
                else
                {
                    ViewBag.Void = "";
                }
                if (entry.Balance < 0 && entry.Void == false)
                {
                    ViewBag.overdraft = "danger";
                }
                else
                {
                    ViewBag.overdraft = "";
                }
                <tr class="@ViewBag.Void @ViewBag.overdraft">
                    <td>@entry.Author.FirstName&nbsp;@entry.Author.LastName</td>
                    <td>@entry.Description</td>
                    <td>@entry.Created.ToString("d")</td>
                    <td>@entry.TransactionDate.ToString("d")</td>
                    <td>@entry.Category.Name</td>
                    <td>
                        @if (@entry.Category.Expense == false)
                        {
                            <text>+</text> @entry.Amount
                        }
                    </td>
                    <td>
                        @if (@entry.Category.Expense == true)
                        {
                            <text>-</text> @entry.Amount
                        }
                    </td>
                    <td style="text-align:center">
                        @if (@entry.Reconciled == true)
                        {
                            <i class="fa fa-check text"></i>
                        }
                    </td>
                    <td>
                        @if (entry.Void == true)
                        {
                            <label class="label label-default">Voided</label>
                        }
                        @if (entry.Balance < 0 && entry.Void == false)
                        {
                            <label class="label label-danger">Overdraft</label>
                        }
                    </td>
                    <td>
                        @entry.Balance
                    </td>
                    <td>
                        @if (entry.Reconciled == false || entry.Category.Name.Contains("Reconciliation"))
                        {
                            if (entry.Void == false)
                            {
                                <a href="@Url.Action("EditTransactions", "Household", new { entry.id })" data-toggle="modal" data-target="#dataModal"><i class="fa fa-edit"></i></a>
                            }
                        <a href="@Url.Action("VoidTransaction", "Household", new { entry.id })" data-toggle="modal" data-target="#dataModal"><i class="fa fa-ban"></i></a> 
                        <a href="@Url.Action("DeleteTransaction", "Household", new { entry.id })" data-toggle="modal" data-target="#dataModal" class="delete"><i class="fa fa-trash"></i></a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No transactions made.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('#t-table').DataTable({
        "bSort": false,
        "destroy": true,
        "paging": true,
        "lengthChange": false,
        "searching": false,
        //"ordering": true,
        "info": true,
        "autoWidth": false
    });
</script>